* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.App-header {
  width: 100%;
  padding: 100px;
  background-color: #605B56;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Todo-input {
  background: transparent;
  border: none;
  font-size: 25px;
  color: white;
  margin: 10px;
  outline: none;
}

.Todo-button {
  background: white;
  padding: 100px;
  border: none;
}

.Item-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 20px;
  border-radius: 4px;
  background: white;
}

.Item-field {
  border: none;
  outline: none;
  font-size: 20px;
}

.Btn1 {
  margin-top: 32px;
  height: 25px;
  border-radius: 8px;
  font-weight: 500;
  background: #ACC18A;
  color: #fff;
  padding: 0 16px;

  margin-left: 10px;
  align-items: center;

  cursor: pointer;
  border: 0;
}

.Btn2 {
  margin-top: 32px;
  height: 25px;
  border-radius: 8px;
  font-weight: 500;
  background: #ACC18A;
  color: #fff;
  padding: 0 16px;

  margin-left: 10px;
  align-items: center;

  cursor: pointer;
  border: 0;
      
  transition: filter 0.2s;
}

.Btn3 {
  margin-top: 32px;
  height: 25px;
  border-radius: 8px;
  font-weight: 500;
  background: #ACC18A;
  color: #fff;
  padding: 0 16px;

  margin-left: 10px;
  align-items: center;

  cursor: pointer;
  border: 0;
      
  transition: filter 0.2s;
}

.txt1 {
  margin-top: 32px;
  height: 25px;
  border-radius: 8px;
  font-weight: 500;

  justify-content: center; 
  align-items: center;

  cursor: pointer;
  border: 0;
  
  transition: filter 0.2s;
}

.separator{
  font-size: 14px;
  color: #837A75;
  font-weight: 1000;

  margin: 32px 0;
  display: flex;
  justify-content: center; 
  align-items: center;
  }
  
.h1 {
margin-top: 32px;
height: 25px;
border-radius: 8px;
font-weight: 500;
color: #837A75;

justify-content: center; 
align-items: center;

cursor: pointer;
border: 0;

transition: filter 0.2s;
}

/* .checkbox {

  margin-right: 10px;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;


  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
} */

@media screen and (max-width: 844px) {
  .separator{
    font-size: 14px;
    color: #837A75;
    font-weight: 1000;
  
    margin: 70px 0;
    display: flex;
    justify-content: center; 
    align-items: center;
    }
  
    .Btn2 {
      margin-top: 1px;
      height: 15px;
      border-radius: 8px;
      font-weight: 500;
      background: #ACC18A;
      color: #fff;
      padding: 0 8px;
    
      margin-left: 10px;
      align-items: center;
    
      cursor: pointer;
      border: 0;
          
      transition: filter 0.2s;

      
    }  
  
    .Btn3 {
      margin-top: 1px;
      height: 15px;
      border-radius: 8px;
      font-weight: 500;
      background: #ACC18A;
      color: #fff;
      padding: 0 8px;
    
      margin-left: 32px;
      align-items: center;
    
      cursor: pointer;
      border: 0;
          
      transition: filter 0.2s;
    }  
}

.txt2{
  color: rgb(63, 117, 86);
}